agate
black
bumpversion
dbt-core==1.3.0
dbt-tests-adapter==1.3.0
flake8
flaky
freezegun
ipdb
mypy
pip-tools
pre-commit
pre-commit
pytest
pytest-csv
pytest-dotenv
pytest-logbook
pytest-xdist
pytz
requests
setuptools
tox>=3.13
twine
wheel
