agate==1.6.3
bandit
black==22.10.0
bumpversion
dbt-core==1.4.3
dbt-tests-adapter==1.4.1
black==22.10.0
bumpversion
flake8
flaky
freezegun==1.2.2
ipdb
pip-tools
pre-commit
pytest
pytest-csv
pytest-dotenv
pytest-logbook
pytest-xdist
pytz
requests==2.28.1
setuptools==65.6.3
tox>=3.13
twine
wheel